    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I'm a software engineer with a passion for security, privacy, and getting things done. I currently work for <a href="https://rapid7.com">Rapid 7</a> on the Nexpose team.</p>
                <p>I am also an avid gardener. This year I am growing 7 different hot pepper varieties in addition to a wide selection of vegetables. I hope to have homemade hotsauce, dried pods, and seeds available for sale by the end of the year.</p>
            </div>
        </div>
    </section>
